[Unit]
Description=Builder web daemon
After=syslog.target network.target

[Service]
Type=simple
User=builder
Group=builder
ExecStart=/usr/bin/builder-web --datadir /var/lib/builder-web/

[Install]
WantedBy=multi-user.target
